html {
    margin: 0;
}

body {
    font-family: 'Akronim', cursive;
    font-size: 10px;
}

.page-title, .button {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1000;
}

.button {
    bottom: 5%;
    z-index: 1000;
}

h1 {
    font-size: 3rem;
    animation: colored-words 60s infinite;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(85, 84, 84);;
    box-shadow: 0 0 1px 1px rgb(59, 59, 59);
    border-radius: 7px;
    margin: 0;
    padding: 10px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h2:hover {
    background-color: white;
    box-shadow: 4px 4px 8px 3px rgb(59, 59, 59);
}

h2:active {
    box-shadow: 0 0 1px 1px rgb(59, 59, 59);
}

@keyframes colored-words {

    0% {
        color: rgb(14, 112, 165)
    }

    20% {
        color: rgb(255, 0, 191)
    }

    40% {
        color: rgb(255, 0, 0)
    }

    60% {
        color: rgb(238, 202, 58)
    }

    80% {
        color: rgb(9, 255, 0)
    }

    100% {
        color: rgb(14, 112, 165);
    }
}